<div id="header">
  <a href="/">
    <div class="logo">
      <div class="title">
        <i class="fa-solid fa-blog"></i>
        Blogger on rails
      </div>
    </div>
  </a>
  <a href="/articles">
    <div class="nav-link">
      <i class="fa-regular fa-newspaper"></i>
      Articles 
    </div>
  </a>
  <a href="/contact">
    <div class="nav-link">
      <i class="fa-regular fa-address-book"></i>
      Contact 
    </div>
  </a>
</div>